<a href="https://colab.research.google.com/github/ErivwodeValerie/python_lessons/blob/main/Class_content_from_14_01_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

14/01/2026

PYTHON LIST METHODS
There are several list methods used in Python. These include:
1. Append
2. Clear
3. Index
4. Extend
5.

In [ ]:
names= ["Rukky", "Gracie", "Peculiar","Mariam", "Ibrahim", "Michael", "Godwin", "Sacky"]

In [ ]:
copy_names = names.copy()
copy_names

['Rukky',
 'Gracie',
 'Peculiar',
 'Mariam',
 'Ibrahim',
 'Michael',
 'Godwin',
 'Sacky']

In [ ]:
ages= [24, 21, 25, 25, 27, 27, 22, 35, 33]

In [ ]:
names.extend(ages)
print(names)

['Rukky', 'Gracie', 'Peculiar', 'Mariam', 'Ibrahim', 'Michael', 'Godwin', 'Sacky', 24, 21, 25, 25, 27, 27, 22, 35, 33]

PYTHON DICTIONARIES

In [ ]:

empty_dict= {}
type(empty_dict)

dict

In [ ]:


students_data={
    "John": 24,
    "Gracie": 21,
    "Peculiar":25,
    "Mariam":25,
    "Ibrahim":27,
    "Michael":27,
    "Godwin":22,
    "Sacky":35,
    "Rukky":33,

}

Using the key to access a value in a dictionary

In [ ]:
students_data["John"]

24

Using the get method

In [ ]:
students_data.get("Rukky")

33

In [ ]:
students_data.get("Rose","There is no key like rose here")

'There is no key like rose here'

COMBINING DICTIONARIES AND LISTS

In [ ]:
students_information ={
    "Full Name": ["Anietie Jackson", "James John", "Gracie Onanuga", "Usman Ibrahim", "Michael Okonkwo"],

    "Ages": [25, 35, 23, 45, 23],

    "State": ["Akwa Ibom", "Abuja", "Ogun", "Kano", "Anambra"],
    "Department": ["Computer science", "Accounting", "Transport management", "Sociology", "Biotech"]

}

**CLASS FUN**

Using a for loop, loop through and print out all the values in the student information dictiionary

In [ ]:
for values in students_information:
  print(values)

Full Name
Ages
State
Department

In [ ]:
for values in students_information.values():
  print(students_information.values())
  break

dict_values([['Anietie Jackson', 'James John', 'Gracie Onanuga', 'Usman Ibrahim', 'Michael Okonkwo'], [25, 35, 23, 45, 23], ['Akwa Ibom', 'Abuja', 'Ogun', 'Kano', 'Anambra'], ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']])

16/01/2026

In [ ]:
for key in students_information.keys():
  print(key)

Full Name
Ages
State
Department

In [ ]:
for value in students_information.values():
  print(value)

['Anietie Jackson', 'James John', 'Gracie Onanuga', 'Usman Ibrahim', 'Michael Okonkwo']
[25, 35, 23, 45, 23]
['Akwa Ibom', 'Abuja', 'Ogun', 'Kano', 'Anambra']
['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']

In [ ]:
#items(): helps retrieve key and value together

for key in students_information.items():
  print(key, ":", value)

('Full Name', ['Anietie Jackson', 'James John', 'Gracie Onanuga', 'Usman Ibrahim', 'Michael Okonkwo']) : ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']
('Ages', [25, 35, 23, 45, 23]) : ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']
('State', ['Akwa Ibom', 'Abuja', 'Ogun', 'Kano', 'Anambra']) : ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']
('Department', ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']) : ['Computer science', 'Accounting', 'Transport management', 'Sociology', 'Biotech']

NESTED DICTIONARY

In [ ]:
students= {
    "student1": {"name": "John", "age": 20},
    "student2": {"name": "Mary", "age": 22}

    }

In [ ]:
students["student1"]["age"]

20

CLASS TASK
Print out the keys and values within the nested dictionary using a for loop

In [ ]:
for student_id, info in students.items():
  print(student_id)
  print()
  for key, value in info.items():
    print(key, ":", value)

student1

name : John
age : 20
student2

name : Mary
age : 22

**TUPLE**

Tuples are built in data structures used to store multiple items in a single variable. They are ordered and immutable

In [ ]:
#tuple that contains string values
fruits= ("apple", "banana", "orange")

In [ ]:
#tuple that contains mixed data types
person= ("John", 25, 1.75, True)

In [ ]:
#Tuples that store single items must have a comma at the back if not the system recognises it as an assignment
single_tuple= (5,)
type(single_tuple)

tuple

**TUPLE METHODS**

Tuple only has two methods due to its immutable state:
1. Count: returns the number of times a specified value occurs in a tuple
2. Index: searches the tuple for a specified value for the first occurence

Accessing tuple items

In [ ]:
fruits= ("apple", "banana", "orange")
print(fruits[0])

apple

In [ ]:
for fruit in fruits:
  print(fruit)

apple
banana
orange

In [ ]:
fruits[0:2]

('apple', 'banana')

In [ ]:
print(fruits[-1])

orange

19/01/2026
SETS

In [ ]:
#How to declare a set with three elements

fruits= {"apple", "banana", "orange"}
type(fruits)

set

In [ ]:
#Mixed data type set
MySet= {1, "hello", 3.14, True}
MySet

{1, 3.14, 'hello'}

In [ ]:
#Duplicates are not allowed
nums= {1,2,2,3,3,3}
print(nums)

{1, 2, 3}

In [ ]:
#looping through a set
fruits= {"apple", "banana", "orange", "pawpaw","mango", "mango"}

for fruit in fruits:
  print(fruit)

mango
pawpaw
apple
orange
banana

**SET METHODS**

In [ ]:
#adding a new element into an already existing set object (.add)
fruits.add("strawberry")
fruits

{'apple', 'banana', 'mango', 'orange', 'pawpaw', 'strawberry'}

In [ ]:
#removing an elemnt from a set using the remove method (.remove)
fruits.remove("mango")
fruits

{'apple', 'banana', 'orange', 'pawpaw', 'strawberry'}

In [ ]:
#remove vs clear vs del
#remove: removes specific item, clear: clears set, del: deletes every trace of the set

BASIC SET OPERATORS

In [ ]:
A= {0,1,2,5,5,6,7,8}
B= {9,2,3,4,5}
C= {10,2,4,5}

In [ ]:
#union method
#Or A|B|C
AuBuC= A.union(B).union(C)
AuBuC

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A_union_B= A|B
A_union_B

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#finding the inetrsection between sets a and b
a_intersection_b= A.intersection(B)
a_intersection_b

{2, 5}

In [ ]:
#finding the difference between two sets
a_difference_b= A.difference(B)
a_difference_b

{0, 1, 6, 7, 8}

In [ ]:
#finding the difference between three sets
a_diff_b= A.difference(B).difference(C)
a_diff_b

{0, 1, 6, 7, 8}

In [ ]:
#Symmetric difference: what is left after taking the intersection of the two sets
A.symmetric_difference(B)

{0, 1, 3, 4, 6, 7, 8, 9}

In [ ]:
#Discard method is used to remove an item from a set without raising an error message if the item is not found. As opposed to remove that shows an error message
A.discard(40)

**CONVERTING ONE DATA TYPE TO ANOTHER AKA TYPECASTING**

**Implicit typecasting**: python automatically changes one data type to the other e.g adding a float and an integer together presents the answer as a float.

**Explicit typecasting**: the programmer manually converts data from one type to the other using built in functions

In [ ]:
amount= 50
type(amount)

int

In [ ]:
#converting amount to float explicitly
converted_amount= float(amount)
converted_amount

50.0

In [ ]:
#converting values implicitly
x= 10
y= 45.7

z= x*y
z

457.0

In [ ]:
#converting a set into a list
converted_list= list(A)
converted_list

[0, 1, 2, 5, 6, 7, 8]

In [ ]:
#converting a float value into an ineteger (without truncating). When writing a round formula, you must specify how may numbers after the decimal you want to appear. We specified 0 because we want a whole number
converted_float= int(round(y, 0))
converted_float

46

Home fun due Friday: build an ATM machine that asks what you want to do

option 1: would you like to deposit

option 2: check balance

option 3: would you like to withdraw

option 4: would you like to quit

21/01/26

CLASS TASK

In [ ]:
for i in range (3):

 Email= input("please put in your email  ")
 Password= input("please put in a password   ")

if "@" or "." not in "Email":
  print("ERROR, enter a valid email containing @ or .")
else:
  print("Email entered succesfully")
if len(Password) <8:
  print("ERROR, password must be 8 characters and above")
else:
  print("Password set succesfully")
if len(Email) <1:
  print("Email must not be empty")
if len(Password)<1:
  print("Password must not be empty")
else:
  print("Login succesful")

please put in your email  rukky
please put in a password
please put in your email  rukky
please put in a password
please put in your email  rukky
please put in a password
ERROR, enter a valid email containing @ or .
ERROR, password must be 8 characters and above
Password must not be empty

ACTUAL SOLUTION

In [ ]:
  email= input("\nemail: ").strip() #This function is used to trim off white spaces within an input
  password= input("\npassword: ").strip()

In [ ]:
stored_email= "erivwodevalerie@gmail.com"
stored_password= 12345678

max_attempt= 3
attempts_left= max_attempt

while attempts_left >0:
  email= input("\nemail: ").strip() #This function is used to trim off white spaces within an input
  password= input("\npassword: ").strip()

  #1. validation
if stored_email== "" and stored_password == "":
     print("Error: Email and password are required")
     continue

elif email == "":
     print("Error, Email is required")
     continue

elif password == "":
     print("Error: Password is required")
     continue

if "@" not in email or "." not in email:
     print("Error: invalid email form (@ or .)")
     continue

if len(password) <8:
     print("Error: password must be 8 characters or more")
     continue

if email== stored_email and password= stored_password
    print("Login succesful, welcome")
    break

else:
     attempts_left= -1
     print(f"Log in failed, you have {attempts_left}")

if

23/01/26

**FUNCTIONS IN PYTHON**

In [ ]:
#BUILT IN FUNCTIONS
#1. print(). Print accepts objects

NewName= "Jackson"
print(NewName)

Jackson

In [ ]:
#Print accepts seperators
for char in NewName:
  print(char, "is a character", sep=": ")

J: is a character
a: is a character
c: is a character
k: is a character
s: is a character
o: is a character
n: is a character

In [ ]:
#Print accepts new line and accepts 3 argument
print("Python", "is", "fun", sep= "|", end= )

In [ ]:
#Enumerate:

fruits=["apple","banana","cherry"]
for index, fruit in enumerate(fruits):
  print(f"Index {index}:{fruit}")

Index 0:apple
Index 1:banana
Index 2:cherry

In [ ]:
NewNames= ["Mike", "Dan", "Rukky", "Sacky", "Gracie","Peculiar"]

for index, name in enumerate(NewNames):
  print(index,name)

0 Mike
1 Dan
2 Rukky
3 Sacky
4 Gracie
5 Peculiar

In [ ]:
#Max function and min function
numbers= [34,60,900,56,78,12,67]
max(numbers)

900

FUNCTIONS VS METHODS

Methods are functions that are specific to or defined into a class. For example, string is a class so this is why string methods are called string methods.

In [ ]:
#define function/function declaration
#Void function

def greetings():
#How to add a description for your function
  '''
  This function greets the user
  '''
  print("Good afternoon data scientist")

In [ ]:
greetings()

Good afternoon data scientist

In [ ]:
#Value returning function

Home fun:

Study about list comprehension and give about 15 examples.
Due Monday

In [ ]:
nums = [1, 2, 3]
new_nums = [n for n in nums]

new_nums

[1, 2, 3]

In [ ]:
nums = [1, 2, 3, 4]
nums_doubled = [n * 2 for n in nums]

nums_doubled

[2, 4, 6, 8]

In [ ]:
num_squared = [n * n for n in nums]
num_squared

[1, 4, 9, 16]

In [ ]:
names = ["ada", "john", "rukky"]
upper_names = [name.upper() for name in names]

upper_names

['ADA', 'JOHN', 'RUKKY']

In [ ]:
length= [len(name) for name in names]
length

[3, 4, 5]

In [ ]:
new_nums = [1, 2, 3, 4, 5, 6]
even_nums = [n for n in new_nums if n % 2 == 0]

even_nums

[2, 4, 6]

In [ ]:
odd_nums = [n for n in new_nums if n % 2 != 0]
odd_nums

[1, 3, 5]

In [ ]:
big_nums = [n for n in new_nums if n > 5]
big_nums

[6]

In [ ]:
NewNums = [n + 10 for n in new_nums if n > 5]
NewNums

[16]

In [ ]:
labels = ["Even" if n % 2 == 0 else "Odd" for n in new_nums]
labels

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [ ]:
words = ["bank", "atm", "code"]
first_letters = [word[0] for word in words]

first_letters

['b', 'a', 'c']

In [ ]:
word = "python"
letters = [char for char in word]

letters

['p', 'y', 't', 'h', 'o', 'n']

26/01/2026

**PYTHON FUNCTIONS CONTD**

In [ ]:
#Value returning function
def addition():
  return 5+6+7
#or could be written with literals
#def addition():
# a=5, b=6, c=7
#  return a+b+c

In [ ]:
#function call
addition()

18

In [ ]:
def additions():
  a=5
  b=6
  c=7
  return a+b+c

In [ ]:
additions()

18

In [ ]:
#x, y and z are the parameters in this instance
def addition_param( x, y, z):
  return x * y * z

In [ ]:
#the 10, 3 and 4 are the arguments
addition_param(10,3,4)

120

Class task: Using python function, write a function that finds the mean score of some given numbers. The numbers are 4,10,6,60,30

In [ ]:
def mean_param(a,b,c,d,e):
  return( a+b+c+d+e)/5

In [ ]:
mean_param(4,10,5,60,30)

21.8

In [ ]:
def mean(values):
   return sum(values) / len(values)

print(mean([4,10,5,60,30]))

21.8

Class "fun"
1. Write a function to find the square of any given number

In [ ]:
def square_param(x):
  return x*x
print(square_param(5))

25

2. Write a function to calculate the simple interest that a particular business earns with the rate of 6, principle of 50000 within the period of 5 years

In [ ]:
def interest_param(p,r,t):
  return (p*r*t)/100

print(interest_param(50000,6,5))

15000.0

3. Write a python function to calculate the area of a circle with the radius of 50

In [ ]:
def area_param(x):
  return(3.142*(x**2))
print(area_param(50))

7855.0

4. Write a function to create a basic calculator that can add,subtract, multiply and divide two numbers.

In [ ]:
def calc_param(x,y):
  return(x+y,x*x,x-y,x/y)
print(calc_param(10,5))

(15, 100, 5, 2.0)

Write a function bmi(weight, height) where weight is in kg and height in meters

In [ ]:
#BMI is weight in kg/height(m2)
def MassIndex_param(x,y):
  return x/(y**2)
print(MassIndex_param(100,1.7))

34.602076124567475

**28/01/26**

Task: Write a python function to find the factorial of any given number

In [ ]:
def factorial_param(x):
  while True:
    (x-1) > 0
    return x*(x-1)
    break
print(factorial_param(5))

20

In [ ]:
#Solution
def factorial(n):
  if n < 0:
    return "Factorial is not defined for negative numbers"
  result= 1

  for i in range(1, n + 1):
    result*= i
  return result

In [ ]:
factorial(10)

3628800

In [ ]:
#Function with more than 5 arguments
def expression(a,b,c,d,e,f):
  return a+b+c+d+e+f

expression(10,30,40,12,11,1)

104

In [ ]:
#A better way to do this
def expression_two(*args):
  return sum(args)

In [ ]:
def show_numbers(*numbers):
  for n in n